<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmer-to-Consumer (F2C) Marketplace</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">F2C</a>
        </div>
       
        <nav class="center-nav">
            <a href="/" class="btn">Home</a>
            <a href="/login" class="btn">Shop</a>
            <a href="/aboutus" class="btn">About Us</a>
            <a href="/help" class="btn" >Helpline</a>
        </nav>
        <nav class="left-nav">
            <a href="/register" class="btn">Register</a>
            <a href="/login" class="btn">Login</a>
        </nav>
    </header>
<div class="herosa">
    <div class="helpcar">
        <h1>7812891004</h1>
    </div>
</div>
    

    
   
</body>
</html>
